<div class="p-col-6 p-offset-3">
  <p-card header="Coding Challenge">
    <p>
      Esto es una app en Angular 9 que usa el State Management Pattern con NGXS.
      Muestra un componente de prueba ("Componente 1") con un contador. El valor
      inicial del contador se obtiene de una consulta al backend simulada. El
      componente presenta la opción de añadir y restar valores al contador, para
      lo cual usa el State de la app.
    </p>
    <p>
      Además, tiene la opción de añadir un error a las peticiones de
      Añadir/Restar que se mostrará al realizar la operación.
    </p>
    <p>
      Se pide crear un nuevo componente ("Componente 2"), que muestre una tabla
      de datos que precargue la siguiente lista en el State de la app:
      {{ code }}
    </p>
    <p>
      Además debe mostrar una opción que elimine el último elemento de la tabla,
      eliminándolo del State.
    </p>
    <p>
      Se debe usar
      <a href="https://www.primefaces.org/primeng/v11-lts/#/setup">primeng</a>
      como librería de componentes. Valoraremos toda aportación de funcionalidad
      extra que se ofrezca.
    </p>
  </p-card>
</div>
